# --- FastAPI и зависимости ---
fastapi==0.115.2
uvicorn==0.31.1
pydantic==2.9.2
python-dotenv==1.0.1

# --- Работа с базой данных ---
sqlalchemy==2.0.35
asyncpg==0.29.0

# --- Безопасность и шифрование ---
bcrypt==4.2.0
pyjwt==2.9.0
cryptography==3.4.8  # старая версия без Rust (избегает ошибок maturin/Cargo)

# --- Telegram ---
telethon==1.36.0  # используйте для telegram_core


